

.card{
    /* height: 22rem; */
    transition: 0.4s;
    border-radius: 7px;
}

.card:hover{
    box-shadow: 10px 10px 24px -13px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.card:hover .card-title{
    color: #102040;
}

.card-title{
    font-size: .8rem;
    font-weight: bold;
}